/*Paleta de colores
#4a5759 gris
#00509d azul
#b4cded azul claro */
/* index */
header{
    background-color:#4a5759 ;
}
header img{
    width: 200px;
}
body{
    font-family: 'Times New Roman', Times, serif;
}
.escapadas,.vlog{
    text-align: right;
    font-size: 32px;
    text-align: right;
    color: #b4cded;
    text-shadow: #00509d;
}
header ul{
     list-style: none;
}
header a{
    text-decoration: none;
    color: #b4cded;
}
body ul{
    margin:0;
    padding:0;
}
.padre-box{
    list-style-type: style none;
    display: block;
    padding: 20px 30px;
    text-decoration: none;
}
.padre-box a:hover{
    background-color:#00509d ;
}

.titulo-1{
    text-align: left;
    color: #00509d;
    text-shadow: #4a5759;
}
.video{
    width: 50%;
    height: 300px;
    text-align: left;
}
.texto-1{
    text-align: left;
    font-size: 32px;
}
h2{
    text-align: left;
    color: #00509d;
    text-shadow: #4a5759;  
}
p{
    font-size: 20px;
    text-align: left;
}
.presentacion img{
    width: 250px;
    height: 250px;
}
.introdos img{
    width: 250px;
    height: 250px;
}
.introtres img{
    width: 250px;
    height: 250px;
}
footer{
    background-color:#4a5759 ;
}
footer img{
    width: 50px;
    display: inline;
}
body{
    background-color: #b4cded;
}

/* foro */
.formulario{
    margin-top: 10%;
}
.invitacion{
    text-align: center;
    margin: 30px 0;
    color: #00509d;
    font-size: 20px;
}
.mainforo form{
    background-color: #b4cded;
    width: 50%;
    margin: 0 auto;
    border-radius: 20px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
    padding: 12px 0;
    color: #4a5759;
}

/* porposito */
.proposito{
    font-size: 25px;
    color: #4a5759;
    background-color: #b4cded;
    align-items: center;
}
.proposito2{
    font-size: 25px;
    color: #4a5759;
    background-color: #b4cded;
    align-items: center;
}
.proposito3{
    font-size: 25px;
    color: #4a5759;
    background-color: #b4cded;
    align-items: center;
}
.sectionproposito img{
    width: 500px;
    height: 400px;
}

/* recomendaciones */
.gri-titulo, .grid.titulo-1, .grid-titulo-2, .grid-titulo3{
    text-align: center;
    color: #4a5759;
    margin: 15px 0px;
}
.contenedor-grid{
    display: grid;
    grid-template-areas: 
    "image1 titulo1  titulo2"
    "image1 titulo1 image2"
    "titulo3 image3 image3";
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 150px repeat(2, 200px);
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.contenedor-grid img{
    width: 90%;
    height: 90%;
}
.grid-titulo-1{
    grid-area: titulo1;
}
.grid-titulo-2{
    grid-area: titulo2;
}
.grid-titulo-3{
    grid-area: titulo3;
}
/* redes */
.sociales{
    font-size: 40px;
    color: #00509d;
    text-align: center;
}
.rs{
    font-size: 32px;
    color: #4a5759;
}
.bienvenida{
    font-size: 25px;
    color: #4a5759;
}
.inst{
    color: #00509d;
}
.faceb{
    color: #00509d;
}
.foroes{
    color: #00509d;
    text-underline-position: none;
}



/* mobile */


@media screen and (max-width: 500px) {
    header{
        flex-direction: column-reverse;
    }
    nav{
        width: 100px;
        margin-top: 2.5px;
    }
    ul{
        margin: 1px 3px;
    }
    .contenedor-grid{
        grid-template-areas: 
        "titulo1"
        "image1"
        "titulo2"
        "image2"
        "titulo3"
        "image3";
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6,150px);
    }
}