/*index*/
body{
    .banner-index{
        background-image: url(../medios/pasaporte.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        padding: 10px 150px;
        align-items: center;
    }
}